@model StreamPowered.App.Areas.Admin.Models.ViewModels.ImageViewModel

<div class="col-sm-4 well">
    <img src="@Model.Url" alt="img-@Model.Id" width="210" height="100" />
    <div class="pull-right">
        @Html.ActionLink("X", "Delete/"+ Model.GameId, "Images", new { imageId = @Model.Id }, new { @class = "delete btn btn-default btn-sm", style = "color: red;" })
    </div>
</div>