@model BookStore.Models.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Best Sellers";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Best Sellers</h2>
        <hr />
        @Html.ActionLink("New Books", "NewBooks", "Books", null, new { @class = "btn btn-default pull-left" })
        @Html.ActionLink("Promotions", "Promotions", "Books", null, new { @class = "btn btn-default pull-right" })
    </div>
</div>
<hr />
@if (@Model != null)
{
    <div class="row">
        @Html.Partial("_CategoryBooksViewPartial")
    </div>
}
