@model BookStore.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

<div class="row text-center">
    <p class="pull-left">
        <input type="button" class="btn btn-default" value="Back" onclick="window.history.back()" />
    </p>
    <p class="pull-right">@Html.ActionLink("All Categories", "All", "Categories")</p>
    <h3 style="color: yellow;">Are you sure you want to delete category:</h3>
    <h2>"@Model.Name"?</h2>
    <hr />
</div>
<div class="row text-center">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
        </div>
    }
</div>
