@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron">
    <h1>Micro Blog Web</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius ultrices nisl,
         sollicitudin efficitur dolor viverra hendrerit. Sed id auctor ex. Fusce eget luctus est.
         Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
         Ut ultrices cursus ex eleifend blandit. Vivamus justo massa, mollis at tristique vitae,
         sollicitudin ut nisi. Nullam in nunc risus.
    </p>
    <p>
        Mauris at elit dolor. Mauris in urna rhoncus quam tincidunt venenatis.
         Aenean elementum felis nibh, at eleifend orci condimentum ut. Sed at facilisis augue.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed lectus maximus,
         dictum erat et, varius enim. Integer sollicitudin, lacus at volutpat pretium,
         dolor nulla varius felis, vitae dapibus tortor ex quis orci. Suspendisse id ultrices ligula.
    </p>
</div>

<div class="row well">
    <div class="col-xs-6">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
             Aenean vehicula commodo mauris, id luctus odio semper eget. Ut eleifend metus at dolor
             tincidunt iaculis. Nam maximus quam risus. Quisque ac sapien ut urna mollis vestibulum in ut dui.
             In elit felis, scelerisque eget aliquam ac, dignissim euismod orci. Etiam id semper nulla,
             vitae vulputate lorem. Pellentesque semper erat eget lectus commodo tristique a eget leo.
             Integer rutrum, arcu nec dignissim dignissim, elit mauris malesuada ex,
             aliquet rutrum justo ex eget lorem. Nunc accumsan orci dolor, vel ornare mi imperdiet eu.
             Duis at diam lectus. Donec risus ipsum, elementum sed blandit at, laoreet quis enim.
             Proin et urna nec tellus dapibus dictum.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-xs-6">
        <h2>Duis ultrices</h2>
        <p>
            Duis ultrices magna sem. Curabitur sollicitudin ornare erat. Aenean at augue fringilla,
             ullamcorper quam a, rhoncus nibh. Aenean in fringilla metus, non congue lacus.
             Ut non suscipit nunc. Duis bibendum volutpat nulla eget accumsan.
             Nullam nec nunc quis metus tincidunt tempus quis eu lacus.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row well text-center">
    <h3>Contacts</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">Tincidunt</a><br />
        <strong>Marketing:</strong> <a href="#">Aenean at augue fringilla</a>
    </address>
</div>