
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteNotificationFromUser</title>
</head>
<body>
    <div class="jumbotron">
        <h2>You deleted this notification successfuly</h2> 
    </div>
    <div class="row">
        @Html.ActionLink("<< Back", "UserNotifications", new { @class = "btn btn-default" })
    </div>
</body>
</html>
