@model Twitter.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "UserNotifications";
}

<div class="row">
    <h2>User Notifications: @Model.NotificationCount</h2>
</div>


<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>About</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var notification in Model.UserNotifications)
        {
            <tr>
                <td>@notification.Type</td>
                <td>
                    @Html.ActionLink(">>", "NotificationDetails", new { id = notification.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
       </tbody>
    </table>
</div>
