@model Twitter.Web.ViewModels.UserViewModel

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.AvatarUrl" alt="@Model.UserName avatar" width="100" />
        </div>
        <div class="col-sm-6">
            <h2>@Html.DisplayFor(model => model.UserName)</h2> 
        </div>
    </div>
</div>
<div class="row">
    <h2>My Tweets:</h2>
    <!-- get User's Tweets -->
    @Html.DisplayFor(model => model.UserTweets)
</div>