@*@model System.Web.Mvc.SelectListItem*@
@{
    ViewBag.Title = "Assign Roles";
}

<div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("Assign", "Admin", FormMethod.Post, new { @role = "form" }))
        {
            <div class="col-md-5">
                <span>Roles</span>
                @Html.DropDownList("Roles", ViewBag.Roles as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-5">
                <span>Users</span>
                @Html.DropDownList("Users", ViewBag.Users as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <hr />
                <input type="submit" value="Assign Role" class="btn btn-default" />
                
            </div>
        }
        <hr />
    </div>
</div>