@{
    ViewBag.Title = "Home Page";
}

<hr />
<div class="row home-div">
    <div class="col-md-4">
        <h2>Promotions</h2>
        <p>
            Posuere et auctor accumsan porttitor, convallis aptent mi quis luctus,
            mollis inceptos posuere tristique tempor eget dolor...
        </p>
        <p><a class="btn btn-default" href="/Books/Promotions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New books</h2>
        <p>
            Nonummy eu, ut arcu iaculis convallis mollis id sollicitudin,
            habitasse interdum volutpat ut condimentum elit...
        </p>
        <p><a class="btn btn-default" href="/Books/NewBooks">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best Sellers</h2>
        <p>
            Dolor mauris pede dui pellentesque, pellentesque tempor sed at urna pharetra,
            wisi phasellus purus suscipit cum wisi...
        </p>
        <p><a class="btn btn-default" href="/Categories/BestSellers">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<div class="row home-div">
    <div class="col-md-8 col-md-offset-3">
        <h3>All Categories</h3>
        <p>
            Ac morbi,
            augue nec lacus mus justo proin scelerisque, duis id quam mi justo...
            <a class="btn btn-default" href="/Categories/All">Learn more &raquo;</a>
        </p>
    </div>
</div>
<hr />