@model StreamPowered.App.Models.ViewModels.GamesByGenrePageViewModel
@{
    ViewBag.Title = "GamesByGenre";
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <h2>Games by genre <span style="color: red;">@Model.GenreName</span></h2>
            <ul class="pagination">
                @for (int page = 1; page <= ViewBag.TotalPages; page++)
                {
                    string listItemClass = "";
                    if (page == ViewBag.CurrentPage)
                    {
                        listItemClass = "active";
                    }

                    <li class="@listItemClass">
                        @Html.ActionLink(page.ToString(), "GamesByGenre", "Genres", routeValues: new { page = page, count = 3 }, htmlAttributes: null)
                    </li>
                }
            </ul>
        </div>
        <div class="row">
            @if (Model.Games.Any())
            {
                @Html.DisplayFor(g => g.Games)
            }
            else
            {
                <p><strong>No games in this genre.</strong></p>
            }

        </div>
    </div>
</div>
