@model StreamPowered.App.Models.ViewModels.GenreViewModel
@{
    ViewBag.Title = "GamesByGenre";
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <h2>Games By Genre @Model.Name</h2>
            <ul class="pagination">
                @for (int page = 1; page <= ViewBag.TotalPages; page++)
                {
                    string listItemClass = "";
                    if (page == ViewBag.CurrentPage)
                    {
                        listItemClass = "active";
                    }

                    <li class="@listItemClass">
                        @Html.ActionLink(page.ToString(), "GamesByGenre", "Genres", routeValues: new { page = page, count = 3 }, htmlAttributes: null)
                    </li>
                }
            </ul>
        </div>
        <div class="row">
            @Html.DisplayFor(g => g.Games)
        </div>
    </div>
</div>
