
@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1>
        Twitter -
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSTJCHorwmYQ1hhnRlbKm3-cOITsSaEu4NglwgKZZCIp7LdOwQb" alt="logo" width="300" height="200" />
         - Join us!
    </h1>
</div>
<div class="row">
    @Html.Partial("_AllTweetsPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

