@model Snippy.App.Models.ViewModels.SnippetsByLabelViewModel

<div class="panel panel-primary">
    <div class="panel-body">
        <h4>@Model.Language @Model.Title</h4>
        <p>by @Model.Author</p>
    </div>
</div>