@model Snippy.App.Models.ViewModels.UserSnippetViewModel

<a href="Snippets/Details/@Model.Id"><h3>@Model.Title</h3></a>
    <div class="well">@Model.Code</div>
<p>
    @foreach (var label in Model.Labels)
    {
        <a href="Labels/Snippets/@label.Text">@label.Text</a>
    }
</p>
<div class="col-sm-12">
    @if (this.User.Identity.IsAuthenticated)
    {
        <p>Comments:</p>
        @Html.DisplayFor(s => s.Comments)
    }
</div>

