@model BookStore.Models.ViewModels.AuthorViewModel

@{
    ViewBag.Title = "Author's Details";
}

@if (@Model != null)
{
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10 col-md-offset-1 author-div">
            <h3 class="text-center">@Html.DisplayFor(author => author.FullName)</h3>
            <h4>Bio:</h4>
            <p>@Html.DisplayFor(author => author.Bio)</p>
        </div>
    </div>
}
