@model IEnumerable<Twitter.Web.ViewModels.CategoryViewModel>


@foreach (var category in Model)
{
    <div class="col-sm-3 well">
        <p title="Tweets: @category.TweetsCount">
            @Html.ActionLink(@category.Name + " >>",
                "TweetsByCategory",
                "Categories",
                new { id = category.Name },
             new { @class = "btn btn-primary btn-lg" })

            @Html.ActionLink("Add Tweet",
                "AddTweetInCategory",
                "Categories",
                new { id = category.Id },
                new { @class = "btn btn-default" })
        </p>
    </div>
}

