@model IEnumerable<BookStore.Models.ViewModels.BooksViewModel>

@{
    ViewBag.Title = "Books By Title";
}

@if (@Model != null)
{
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        @Html.Partial("_BooksViewPartial")
    </div>
}

