
@{
    ViewBag.Title = "AddTweetInCategory";
}

<h2>AddTweet</h2>

<div class="row">
    @Html.Partial("_AddTweetInCategoryPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




