
@{
    Layout = "";
    ViewBag.Title = "Categories:";

}

<div class="row">
    @Html.ActionLink("Add Category", "AddCategory", "Categories", "", new { @class = "btn btn-default btn-lg" })
</div>

<h2>@ViewBag.Title</h2>

<div class="row">
    @Html.Partial("_AllCategoriesPartial")
</div>
